{% extends 'base.html' %}
    {% block content %}
    {% load static %}
    {% load bootstrap_tags %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
                }

                @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }


            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">
        <div class="slider-parallax-inner">
			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'images/home/stones.jpg' %}) bottom center no-repeat; background-size: cover;">

                <div class="row nomargin" style="position: relative; z-index: 2;">
						<div class="col-md-offset-1 col-md-5 full-screen" style="background-color: rgba(0,0,0,0.45);">
							<div id="the_padding" class="vertical-middle col-padding">
								<div class="heading-block nobottomborder bottommargin-sm dark">
									<h1 style="font-size: 22px;">Change your password</h1>
								</div>
                                {% if form.errors %}
                                        {% for key,value in form.errors.items %}
                                            {% for error in value %}
                                            <div class="style-msg errormsg">
                                                <div class="sb-msg" style="color: red"><i class="icon-info-sign"></i>{{ error }}</div>
                                            </div>
                                            {% endfor %}
                                        {% endfor %}
                                {% endif %}

                                
                                 
                                <form role="form" class="clearfix" method="post">

                                    {% csrf_token %}
                                        

                                   
                                    <div class="col_full not-dark">
                                        
                                        
                                            
                                            <label class="required dark" for="id_old_password">Old password:</label> 
                                            <div class="not-dark"><input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" ></div>

                                       
                                        <br>
                                           
                                        
                                            
                                            <label class="required dark" for="id_new_password1">New password:</label> 
                                            <div class="not-dark"><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="not-dark"></div>
                                            <br>
                                            <span class="helptext">
                                                    <ul class="dark" style="padding-left: 20px;">
                                                        <li>Your password can’t be too similar to your other personal information.</li>
                                                        <li>Your password must contain at least 8 characters.</li>
                                                        <li>Your password can’t be a commonly used password.</li>
                                                        <li>Your password can’t be entirely numeric.</li></ul>
                                                </span>
                                                                        
                                            
                                            <label class="required dark" for="id_new_password2">New password confirmation:</label> 
                                            <div class="not-dark"><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="not-dark"></div>
                                            
                                       
                                    </div>

                                    
                                    <div class="form-group">
                                    
                                        <input type="submit" class="t400 capitalize button button-border button-light button-circle nomargin" value="Change my password">
                                    
                                    </div>
                                   



                                </form>

                                    

						

					   </div>
				</div>

			</div>
        </div>
    </div>
		</section> <!--#slider end -->



    {% endblock %}