{% extends 'base.html' %}
    {% block content %}
    {% load static %}
    {% load bootstrap_tags %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
                }

                @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }


            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">
        <div class="slider-parallax-inner">
			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'images/home/stones.jpg' %}) bottom center no-repeat; background-size: cover;">

                <div class="row nomargin" style="position: relative; z-index: 2;">
						<div class="col-md-offset-1 col-md-5 full-screen" style="background-color: rgba(0,0,0,0.45);">
							<div id="the_padding" class="vertical-middle col-padding">
                                <div class="heading-block nobottomborder bottommargin-sm dark">
									<h1 style="font-size: 22px;">Reset Instructions Sent</h1>
									<div class="not-dark">
                                        <p></p>
                                        <p>We have just sent you a reset link. Please check your email!
                                        <br><i>(If you do not receive it, please check you entered the correct email and try again)</i></p>
                                        <span style="font-size: 16px;" class="t300 capitalize ls1 notopmargin"></span></div>
								    </div>

                                
                                    

							</div>

					   </div>
				</div>

			</div>
        </div>
		</section> <!--#slider end -->



    {% endblock %}