{% extends 'base.html' %}
    {% block content %}
    {% load static %}
    {% load bootstrap_tags %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
                }

                @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }


            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">
        <div class="slider-parallax-inner">
			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'images/home/stones.jpg' %}) bottom center no-repeat; background-size: cover;">

                <div class="row nomargin" style="position: relative; z-index: 2;">
						<div class="col-md-offset-1 col-md-5 full-screen" style="background-color: rgba(0,0,0,0.45);">
							<div id="the_padding" class="vertical-middle col-padding">
								<div class="heading-block nobottomborder bottommargin-sm dark">
									<h1 style="font-size: 22px;">Forgot your password?</h1>
									<div class="not-dark">
                                        <span style="font-size: 16px;" class="t300 capitalize ls1 notopmargin"></span></div>
								</div>

                                 <div class="nobottomborder bottommargin-sm dark">
                                    <h1 style="font-size: 12px;">{{ form.errors }}</h1> 
                                 </div>

                                 


                                <form role="form" class="clearfix" method="post">

                                    {% csrf_token %}
<div class="nobottomborder bottommargin-sm dark">
                                    <h1 style="font-size: 12px;">{{ form.errors }}</h1> 
                                 </div>
                                                                        
                                    <div id="div_id_email" class="form-group  ">
                                        <label for="id_email" class="control-label required-field capitalize t600 dark">
                                            Enter your Email
                                        </label>
            
                                    <div class="">
                                        <input type="email" name="email" autocomplete="email" maxlength="254" class=" form-control" required id="id_email">
                                    </div>
            
        
                                    </div>

                                    <input type="submit" type="submit" class="t400 capitalize button button-border button-light button-circle nomargin" value="send reset email">

                                </form>

                                    

							</div>

					   </div>
				</div>

			</div>
        </div>
		</section> <!--#slider end -->



    {% endblock %}