{% extends 'base.html' %}
    {% block content %}
    {% load static %}
    {% load bootstrap_tags %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
                }

                @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }


            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">
        <div class="slider-parallax-inner">
			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'images/home/stones.jpg' %}) bottom center no-repeat; background-size: cover;">

                <div class="row nomargin" style="position: relative; z-index: 2;">
						<div class="col-md-offset-1 col-md-5 full-screen" style="background-color: rgba(0,0,0,0.45);">
							<div id="the_padding" class="vertical-middle col-padding">
								<div class="heading-block nobottomborder bottommargin-sm dark">
									<h1 style="font-size: 22px;">Reset your Password</h1>
									<div class="not-dark">
                                        <span style="font-size: 16px;" class="t300 capitalize ls1 notopmargin"></span></div>
								</div>

                                {% if form.errors %}
                                        {% for key,value in form.errors.items %}
                                            {% for error in value %}
                                            <div class="style-msg errormsg">
                                                <div class="sb-msg" style="color: red"><i class="icon-info-sign"></i>{{ error }}</div>
                                            </div>
                                            {% endfor %}
                                        {% endfor %}
                                {% endif %}
                                
                                {% if validlink %}

                                    <form role="form" class="clearfix" method="post">

                                        {% csrf_token %}

                                        <p>
                                            <label for="id_new_password1" class="capitalize t600 dark">New password:</label> 
                                            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="not-dark"> 
                                            <span class="helptext">
                                                <ul class="dark" style="padding-left: 20px;">
                                                    <li>Your password can’t be too similar to your other personal information.</li>
                                                    <li>Your password must contain at least 8 characters.</li>
                                                    <li>Your password can’t be a commonly used password.</li>
                                                    <li>Your password can’t be entirely numeric.</li></ul>
                                            </span>
                                        </p>
                                        <p>
                                            <label for="id_new_password2" class="capitalize t600 dark">New password confirmation:</label>
                                            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="not-dark">
                                        </p>                                    
                                        
                                        <input type="submit" type="submit" class="t400 capitalize button button-border button-light button-circle nomargin" value="Change my password">

                                    </form>

                                 {% else %}   

                                 <p class="dark">The password reset link was invalid.<br> Please request a new password reset.</p>


                                 {% endif %}

							</div>

					   </div>
				</div>

			</div>
        </div>
		</section> <!--#slider end -->



    {% endblock %}