{% extends 'base.html' %}
    {% block content %}
    {% load static %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
               }

                @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }

            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
{#        full-screen #}
		<section id="slider" class="">
{#        slider-parallax-inner#}
        <div class="">
{#           section full-screen ohidden#}
			<div class="  nopadding nomargin noborder " style="background: url({% static 'images/home/stones.jpg' %}) bottom center no-repeat; background-size: cover;">

                <div class="row nomargin" style="position: relative; z-index: 2;">
{#                    full-screen#}
						<div class="col-md-offset-1 col-md-5 " style="background-color: rgba(0,0,0,0.45);">
{#                 vertical-middle           #}
							<div id="the_padding" class=" col-padding">
								<div class="heading-block nobottomborder bottommargin-sm dark">
									<h1 style="font-size: 22px;">All Venues</h1>
									<div class="not-dark">
                                        <span style="font-size: 16px;" class="t300 capitalize ls1 notopmargin"></span></div>
                                        <ul>
                                            {% for asset in all_assets %}
                                            <li><a href="/asset/{{ asset.id }}">{{ asset.asset_display_name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        
                                        <button type="submit" class="t400 capitalize button button-border button-dark button-circle nomargin"><a href="/asset/add/">Add New Venue</a></button>
                                    
								</div>

                                

							</div>

						</div>
					</div>

			</div>
        </div>
		</section> <!--#slider end -->

    {% endblock %}